{% extends "base.html" %}
{% block title %}Aquieta{% endblock title %}
{% load static %}
{% block content %}
<br>
<h1 style="color: turquoise;">Aquieta proyecto de contención emocional</h1>
<br>
<p class="p-2 display-15" style="font-size: 1.5rem; color: #003366;">
 Aquieta presenta historias inspiradoras de resiliencia y superación personal, permitiendo a los usuarios encontrar consuelo y esperanza al comparar sus propias experiencias con las de otros. Con un enfoque en la empatía y el fortalecimiento emocional, Aquieta busca ser un espacio seguro donde las personas puedan conectarse con relatos que les ayuden a ver que, aunque las circunstancias sean difíciles, es posible superarlas y salir adelante.
</p>
<br>
<div class="container-fluid">
    <div class="container mt-5">
        <div class="row no-gutters">
            {% for album in albums %}
            <div class="col-md-4 d-flex align-items-stretch mb-4">
                <div class="card text-center w-100">
                    {% if album.cover %}
                    <img src="{{ album.cover.url }}" class="card-img-top" style="height: 300px;" alt="{{ album.title }}">
                    {% else %}
                    <img src="{% static 'images/default_cover.jpg' %}" class="card-img-top" style="height: 300px;" alt="Default Cover">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title h3">{{ album.title }}</h5>
                        <p class="card-text">Autor: {{ album.artist.name }}</p>
                        <p class="card-text">Año: {{ album.year }}</p>
                        <a href="{% url 'album_manager:display_album' album.title %}" class="btn btn-info">Ver Historia</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay álbumes disponibles.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
